/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

/*===========================================================================================================================================================

Hello! If this is your first time looking at a stylesheet within the text editor view, what you are reading right now is a "comment". Comments are added throughout this stylesheet with the purpose of making the source code easier to understand, comments will not be interpreted during the compile process. Since comments are not interpreted during the compile process, feel free to add or remove any comments.

For help with MadCap Flare go to Help Ribbon > Topics Section > Open Help. Alternatively visit the Flare Online Help at help.madcapsoftware.com

If you have any questions regarding how to work with this stylesheet or template project, please contact MadCap Technical Support. 
https://www.madcapsoftware.com/support/contact-options.aspx

===========================================================================================================================================================*/

/*== Home Page General Styles ==*/

body
{
	font-family: Arial;
	line-height: 1.5em;
	background-color: #ffffff;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

/*== Home header bar styles ==*/

.inner-wrap .tab-bar .nav-search	/*Prevents the search in the header from appearing on the home page*/
{
	display: none;
}

.inner-wrap .main-section > .outer-row
{
	max-width: 100%;
	padding: 0;
}

.title-bar-container
{
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	/*creates the shadow effect in the header*/
}

/*== home page masterpage styles ==*/

div.home-container	/*wraps the content on the home page*/
{
	margin-left: 20%;
	width: 80%;
}

.body-container
{
	padding: 0;
	/*Overrides padding set in the skin*/
}

/*== Home Page Topic Hero section ==*/

div.topic-hero
{
	padding-top: 20px;
	height: auto;
}

h1
{
	font-size: 3.6em;
	margin-bottom: 0.5em;
	line-height: 100%;
	color: #4A90E2;
}

h2
{
	font-size: 1.8em;
	margin-bottom: 80px;
	line-height: 100%;
}

.search,
.search-bar
{
	margin: 0 auto;
}

div.search-home
{
	width: 70%;
	margin-left: 0%;
	margin-bottom: 5%;
	margin-right: 10%;
	padding: 0;
}

/*== Home-tiles section ==*/

div.home-tiles	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	border-left-style: solid;
	border-left-width: 0pt;
	border-right-style: solid;
	border-right-width: 0pt;
	border-top-style: solid;
	border-top-width: 0pt;
	border-bottom-style: solid;
	border-bottom-width: 0pt;
	border-top-left-radius: 0pt;
	border-top-right-radius: 0pt;
	border-bottom-right-radius: 0pt;
	border-bottom-left-radius: 0pt;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	background-color: #4A90E2;
	margin-bottom: 3%;
	overflow: hidden;
	padding: 2%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.home-tiles > div:nth-child(1)
{
	width: 33%;
	margin-left: 0%;
}

div.home-tiles > div:nth-child(2)
{
	width: 33%;
	margin-left: 4%;
}

div.home-tiles > div:nth-child(3)
{
	width: 70%;
	margin-left: 0%;
	padding-top: 5%;
}

/*== Elements for text contained within each home-tile ==*/

p.tile-title
{
	color: #fff;
	margin-top: 0px;
	font-size: 1.3em;
	font-weight: bold;
	border-left-style: groove;
	border-left-width: 2pt;
	border-left-color: #ffffff;
	border-right-style: groove;
	border-right-width: 2pt;
	border-right-color: #ffffff;
	border-top-style: groove;
	border-top-width: 2pt;
	border-top-color: #ffffff;
	border-bottom-style: groove;
	border-bottom-width: 2pt;
	border-bottom-color: #ffffff;
	border-top-left-radius: 1pt;
	border-top-right-radius: 1pt;
	border-bottom-right-radius: 1pt;
	border-bottom-left-radius: 1pt;
}

p.tile-content
{
	color: #ffffff;
}

p.tile-button
{
	margin-top: 8px;
	float: right;
	margin-right: 8px;
}

div.home-tiles a	/*Complex Selector: Links within the home tiles will have the following properties*/
{
	text-decoration: none;
	color: #fff;
}

a:link
{
	color: #4a90e2;
	text-decoration: none;
}

div.home-tiles a:hover	/*Complex Selector: When hovering over links within the home tiles the following properties will apply.*/
{
	color: #EDF4FC;
}

div.home-tiles > div:hover
{
	box-shadow: 0 12px 18px rgba(0,0,0,0.16), 0 12px 18px rgba(0,0,0,0.23);
	transform: scale(1.05);
}

/*== Home Page Footer ==*/

div.home-footer
{
	background-color: #4A90E2;
	margin-top: 5%;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-top-left-radius: 4pt;
	border-top-right-radius: 4pt;
	border-bottom-right-radius: 4pt;
	border-bottom-left-radius: 4pt;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
}

p.footer
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 13pt;
	color: #fff;
}

span.SearchHighlight
{
	background-color: #edf4fc;
}

span.SearchHighlight1
{
	background-color: #edf4fc;
}

span.SearchHighlight10
{
	background-color: #edf4fc;
}

span.SearchHighlight2
{
	background-color: #edf4fc;
}

span.SearchHighlight3
{
	background-color: #edf4fc;
}

span.SearchHighlight4
{
	background-color: #edf4fc;
}

span.SearchHighlight5
{
	background-color: #edf4fc;
}

span.SearchHighlight6
{
	background-color: #edf4fc;
}

span.SearchHighlight7
{
	background-color: #edf4fc;
}

span.SearchHighlight8
{
	background-color: #edf4fc;
}

span.SearchHighlight9
{
	background-color: #edf4fc;
}

div.home-tiles-container
{
	border-left-style: none;
	border-left-width: 0pt;
	border-right-style: none;
	border-right-width: 0pt;
	border-top-style: none;
	border-top-width: 0pt;
	border-bottom-style: none;
	border-bottom-width: 0pt;
	border-top-left-radius: 4pt;
	border-top-right-radius: 4pt;
	border-bottom-right-radius: 4pt;
	border-bottom-left-radius: 4pt;
}

/*===========================================================================================================================================================
Styles after this point are styles that are for specific mediums. If any additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
===========================================================================================================================================================*/

@media only screen and (max-width: 1279px)
{
	div.home-container
	{
		width: 100%;
		margin-left: 5%;
	}

	div.search-home
	{
		margin-left: 0%;
		width: 90%;
	}

	div.home-tiles > div:nth-child(1)
	{
		margin-left: 0%;
		height: auto;
		width: 42.5%;
	}

	div.home-tiles > div:nth-child(2)
	{
		height: auto;
		width: 42.5%;
		margin-left: 5%;
	}

	div.home-tiles > div:nth-child(3)
	{
		margin-left: 0%;
		width: 90%;
	}

	div.footer
	{
		padding-top: 10px;
	}
}

@media only screen and (max-width: 767px)
{
	MadCap|searchBarProxy.homeSearchBar
	{
		width: 100%;
	}

	h1
	{
		font-size: 2.4em;
	}

	h2
	{
		font-size: 1.2em;
	}

	div.topic-hero
	{
		text-align: center;
	}

	div.home-container
	{
		width: 100%;
		margin-left: 0;
	}

	div.search-home
	{
		width: 80%;
		margin-left: 10%;
	}

	div.home-tiles-container
	{
		padding-bottom: 0;
	}

	div.home-tiles > div
	{
		padding: 5%;
		margin-top: 2%;
	}

	div.home-tiles > div:nth-child(1)
	{
		width: 80%;
		margin-left: 10%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 80%;
		margin-left: 10%;
	}

	div.home-tiles > div:nth-child(3)
	{
		width: 80%;
		margin-left: 10%;
	}

	div.home-master-page-footer > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.home-master-page-footer > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.home-master-page-footer > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}
}

